footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    font-family: var(--lato);
    background: var(--dark-brown);
}

footer ul li {
    list-style: none;
}

footer ul h3 {
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-family: var(--cinzel);
}

footer ul li a {
    color: black;
    text-decoration: none;
    transition: .4s;
    font-size: 1.04rem;
}

footer ul li a:hover {
    color: lightgray;
}